
.form-item {
  --uno: text-4 mb-sm;

  .label {
    --uno: text-3.5 mr-sm min-w-12 text-right inline-block;
  }
  .select {
  --uno: border-(1.5 slate-2) px-sm py-2 rounded-md;
  }
  .input {
    --uno: border-(1.5 slate-2) px-sm py-1 rounded-md;
  }
}